@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Đào Thị Ngọc Thắm<br />
    Hà Nội<br />
    <abbr title="Phone">P:</abbr>
    037.4270.572
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ngoctham030104@gmail.com">ngoctham030104@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ngoctham030104@gmail.com">ngoctham030104@gmail.com</a>
</address>